<div>
  <h2 class="text-center text-bold text-3xl my-5">Parent Component</h2>
  <p class="text-center text-bold text-xl my-5">Get Data from Child Component
    <br>Name:
    <span>
      {{ receivedNameData}}
    </span>
    <br>Status:
    <span *ngIf="receivedStatusData == 1; else elseBlock">
      Active
    </span>
    <ng-template #elseBlock>Inactive</ng-template>
  </p>
  <p class="text-center text-bold text-xl my-5">Send Data To Child Component</p>
  <div class="w-8/12 mx-auto">
    <form [formGroup]="angularForm" (ngSubmit)="SubmitForm(angularForm)" class="w-full" enctype="multipart/form-data">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-enter_text">
            Enter Text
          </label>
          <input formControlName="enter_text"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-enter_text" type="text" placeholder="Enter Text">
        </div>
        <div class="w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-status">
            Is Active
          </label>
          <div class="">
            <select formControlName="status"
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-status">
              <option value="">Select IsActive</option>
              <option value="1">Active</option>
              <option value="0">Inactive</option>
            </select>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3">
          <button type="submit" class="p-3 bg-indigo-950 text-white w-full">Submit</button>
        </div>
      </div>
    </form>
  </div>


  <app-child [dataFromParent]="parentData" (dataToParent)="receiveFromChild($event)"></app-child>
</div>
